* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Public Sans';
}

:root {
	--dark-blue: hsl(233, 26%, 24%);
	--lime-green: hsl(136, 65%, 51%);
	--lime-green-md: hsl(136, 65%, 71%);
	--bright-cyan: hsl(192, 70%, 51%);
	--bright-cyan-md: hsl(192, 70%, 71%);
	--grayish-blue: hsl(233, 8%, 62%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);
}

nav,
.section1,
.section2,
.section3,
footer {
	padding-left: 100px;
	padding-right: 100px;
}

a {
	text-decoration: none;
}

nav {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 10;
	background-color: var(--white);
}

.nav-link {
	color: var(--grayish-blue);
	margin: 0px 10px;
	position: relative;
	transition: color 0.25s ease-in-out;
}

.nav-link:hover,
.nav-link:active {
	color: var(--dark-blue);
}

.nav-link::after {
	position: absolute;
	content: '';
	left: 0;
	top: 46px;
	height: 3px;
	width: 100%;
	border-radius: 5px;
	background-color: var(--bright-cyan);
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.25s ease-in-out;
}

.nav-link:hover::after,
.nav-link:active::after {
	transform: scaleX(1.0);
}

.nav-btn {
	padding: 12px 30px;
	color: var(--white);
	border-radius: 40px;
	background-image: linear-gradient(135deg, var(--lime-green), var(--bright-cyan));
	font-size: 13px;
}

.nav-btn:hover,
.nav-btn:active {
	background-image: linear-gradient(135deg, var(--lime-green-md), var(--bright-cyan-md));
}

.icon-hamburger,
.icon-close {
	display: none;
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transform: scaleX(0);
	transform-origin: center;
	z-index: 5;
	transition: all 0.3s ease-in-out;
}

.section1 {
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: var(--very-light-gray);
}

.section1__header,
.section1__para {
	max-width: 400px;
}

.section1__header {
	font-weight: 300;
	font-size: 50px;
	color: var(--dark-blue);
}

.section1__para,
.section2__para,
.section2__grid-item--para,
.section3__grid-item--author,
.section3__grid-item--para,
.footer__copyright {
	color: var(--grayish-blue);
}

.section1__para {
	margin: 30px 0;
}

.section2 {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--light-grayish-blue);
}

.section2__header,
.section3__header,
.section2__grid-item--header {
	font-size: 35px;
	font-weight: 300;
	color: var(--dark-blue);
}

.section2__header,
.section2__para {
	max-width: 600px;
}

.section2__para {
	margin: 30px 0 60px 0px;
}

.section2__grid-container,
.section3__grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
}

.section2__grid-item--header {
	font-weight: 300;
	font-size: 25px;
	margin: 15px 0px;
}

.section1_2 {
	position: relative;
	overflow: hidden;
}

.section1_2__desktop--bg-image-1 {
/*	width: 900px;*/
/*	width: calc(450px + 35.16vw);*/
/*	width: calc(400px + 39.06vw);*/
	width: 75%;
	position: absolute;
/*	top: -150px;*/
	top: -15%;
/*	right: -150px;*/
	right: -20%;
}

.section1_2__desktop--bg-image-2 {
/*	width: 650px;*/
/*	width: calc(300px + 27.34vw);*/
	width: 50%;
	position: absolute;
/*	top: -100px;*/
	top: -9%;
/*	right: -80px;*/
	right: -6%;
}

.section3 {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--very-light-gray);
}

.section3__grid-container {
	margin-top: 40px;
	grid-gap: 20px;
}

.section3__grid-item {
	background-color: var(--white);
}

.section3__grid-item--image {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.section3__grid-item--sub-container {
	padding: 20px 15px;
}

.section3__grid-item--author {
	font-size: 13px;
}

.section2__grid-item--header {
	font-size: 18px;
	display: block;
	margin: 12px 0px;
	transition: color 0.2s ease-in-out;
}

.section2__grid-item--header:hover,
.section2__grid-item--header:active {
	color: var(--lime-green);
}

footer {
	background-color: var(--dark-blue);
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
}

.footer__col.col1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.footer__social-link,
.footer__link {
	color: var(--white);
	transition: color 0.25s ease-in-out;
}

.footer__social-link {
	margin-right: 10px;
	font-size: 20px;
}

.footer__social-link:hover,
.footer__social-link:active,
.footer__link:hover,
.footer__link:active {
	color: var(--lime-green);
}

.footer__col.col2,
.footer__col.col3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer__col.col2 {
	margin: 0px 80px;
}

.footer__link.mid {
	margin: 20px 0px;
}

.footer__col.col4 {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}


@media screen and (max-width: 991px) {
	main {
		padding-top: 60px;
	}

	nav,
	.section1,
	.section2,
	.section3,
	footer {
		padding-left: 30px;
		padding-right: 30px;
	}

	nav {
		position: fixed;
		top: 0;
		width: 100%;
	}

	.nav-link-container,
	nav .nav-btn {
		display: none;
	}

	/*.icon-hamburger {
		display: block;
	}*/

	.menu-icon.d-none {
		display: none;
	}

	.menu-icon.d-inline-block {
		display: inline-block;
	}

	.nav-link-container {
		position: fixed;
		width: calc(100% - 60px);
		top: 70px;
		left: 30px;
		display: flex;
		flex-direction: column;
/*		justify-content: center;*/
		align-items: center;
		background-color: var(--white);
		z-index: 10;
		padding: 20px 20px 30px;
		border-radius: 5px;
		transform: scaleX(0);
		transform-origin: center;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
	}

	.nav-link-container.active {
		opacity: 1;
		visibility: visible;
		transform: scaleX(1.0);
	}

	.overlay.active {
		opacity: 1;
		transform: scaleX(1);
	}

	.nav-link {
		color: var(--dark-blue);
		margin: 10px 0px;
		position: relative;
	}

	.nav-link::after {
		display: none;
	}

	.section2__grid-container,
	.section3__grid-container {
		grid-template-columns: repeat(2, 1fr);
	}

	footer {
		flex-direction: column;
	}

	footer>div {
		align-items: center !important;
	}

	.footer__col.col2 {
		margin: 0;
	}

	.footer__col.col2,
	.footer__col.col3,
	.footer__col.col4 {
		margin-top: 20px;
	}

	.footer__col.col4 {
		margin-left: initial;
		align-items: center;
	}

	/*.footer__image {
		margin-bottom: 30px;
	}*/

	.footer__socials-container {
		margin: 30px 0px 10px;
	}

	.footer__btn {
		margin: 10px 0px 30px;
	}
}

@media screen and (max-width: 575px) {
	.section1__header {
		font-size: 40px;
	}

	.section2__grid-container,
	.section3__grid-container {
		grid-template-columns: repeat(1, 1fr);
	}

	.section2 > * {
		text-align: center;
	}
}